
@{
    ViewBag.Title = "PdfIndex";
}
<style type="text/css">
    #the-canvas {
        border: 1px solid black;
    }
</style>
<h1>PDF.js 'Hello, world!' example</h1>

<a href="https://www.iot-esta.com/temp/needTableUrl/983689d8633b493aa165d12659ab3067.doc">下载</a>



